.container__small-card {
  border: white 2px;
  width: 400px;
  display: flex;
  flex-direction: row;
}

.small-card__picture>img {
  width: 180px;
  height: 108px;
}

.small-card__date>h2 {
  margin-left: 20px;
  font-size: 11px;
  color: #696969;
}

.small-card__headline>p {
  margin-left: 20px;
  text-align: justify;
  justify-content: center;
}

hr {
  border-color: #696969;
  margin-top: 10px;
  margin-bottom: 10px;
}